@{
    ViewBag.Title = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<div class="jumbotron">

    <div>
        <h2>Galeria</h2>
        <div id="galeria"></div>
    </div>

    <div id="imagem-lida"></div>

    <!--Formulário que recebe o arquivo-->
    <h2>Selecione o Arquivo</h2>
    <form enctype="multipart/form-data">
        <input id="upload" type=file accept="txt" name="files[]" size=30>
    </form>

    <h2>Largura da Imagem</h2>
    <input id="larguraDaImagem" />

    <h2>Nome Do Arquivo</h2>
    <input id="nomeDoArquivo" readonly />

    <h2>Intensidade do Ganho</h2>
    <input id="intensidade" />

    <br />
    <button class="btn-primary" onclick="EnviarArquivo()">Enviar Arquivo Para Transformação</button>

    <!--Prévia do que foi lido do arquivo-->
    <h2>Prévia</h2>
    <textarea class="form-control" rows=35 cols=120 id="previa"></textarea>

</div>

<script>
    
    var resultadoFinal = new Array();

    //Carrega Galeria atual
    $(document).ready(function () {
        // Handler for .ready() called.
        // Agora, basta referenciar no restante do código, como na primeira linha
        window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));

        document.getElementById('galeria').innerHTML += '<img src="' + window.applicationBaseUrl + '\Content\\Images\\teste.bmp" width="100px" >';
    });

    //Função que lê o arquivo
    function handleFileSelect(evt) {

        //Verifica quantos arquivos foram lidos e faz uma lista
        var files = evt.target.files;

        //Pega o primeiro arquivo
        f = files[0];

        //Leitor de arquivos
        var reader = new FileReader();

        //Captura a informação
        reader.onload = (function (theFile) {
            return function (e) {

                //Atualiza a informação lida no textarea de prévia
                $('#previa').val(e.target.result);

                console.log(e.target.result.split("\n"));

                resultadoFinal = e.target.result.split("\n").map(Number);
                
            };
        })(f);
        $('#nomeDoArquivo').val(f.name);

        // Read in the image file as a data URL.
        reader.readAsText(f);
    }

    //Adiciona o listener (função ativada ao fazer o upload)
    document.getElementById('upload').addEventListener('change', handleFileSelect, false);

    function EnviarArquivo() {

        console.log(resultadoFinal);
        // larguraDaImagem não precisa, porque depende do tamanho do arquivo (é sempre sqrt(rows))
        // var larguraDaImagem = document.getElementById("larguraDaImagem").value;
        // No projeto será fixo 60x60!

        // Preciso pegar o nome do arquivo carregado no upload, e usar em nomeDoArquivo
        var nomeDoArquivo = document.getElementById("nomeDoArquivo").value;
        var intensidade = document.getElementById("intensidade").value;
        
        if (larguraDaImagem == "") {
            larguraDaImagem = 60;
        }

        if (nomeDoArquivo == "") {
            nomeDoArquivo = "Teste";
        }

        if (intensidade == "") {
            intensidade = 0;
        }
        
        $.post("http://localhost:51014/Home/Save",{
            nomeDoArquivo: nomeDoArquivo,
            intensidade: intensidade,
            resultadoFinal: resultadoFinal.join()        },
            function (data, status) {
                console.log(data);
                if (data.indexOf(".bmp") !== -1) {
                    window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
                    document.getElementById('imagem-lida').innerHTML = '<h2>Imagem solicitada</h2><img src="C:\\Users\\alexismayfire\\Source\\Repos\\CSM30Ultrassomv2\\Web\\Content\\Images\\#1,1#g-2%4.7.2018-17.28.51%" alt="imagem"/>'; 
                }
                else {
                    alert("Data: " + data + "\nStatus: " + status);
                }
            });
  
    }

</script>